.DS_Store
*.iso
*.lst
*.o
*.out
*.ovl
*.pce
*.s
*.sgx
*.sym
*.user
.vs
.x86
.x64
bin
src/huc/huc
src/huc/huc.exe
src/hucc/hucc
src/hucc/hucc.exe
src/isolink/isolink
src/isolink/isolink.exe
src/mkit/as/fujias
src/mkit/as/fujias.exe
src/mkit/as/nesasm
src/mkit/as/nesasm.exe
src/mkit/as/pceas
src/mkit/as/pceas.exe
src/mkit/as/pngreadwrite/pngreadwrite.a
src/mkit/as/salvador/salvador.a
src/plugins/huremap/huremap.exe
src/plugins/husetpalette/husetpalette.exe
src/plugins/huzerozero/huzerozero.exe
src/tools/hulz/hulz
src/tools/hulz/hulz.exe
src/tools/mml/mml
src/tools/mml/mml.exe
src/tools/mod2mml/mod2mml
src/tools/mod2mml/mod2mml.exe
src/tools/pce2png/pce2png
src/tools/pce2png/pce2png.exe
src/tools/pce2png/pngwrite/pngwrite.a
src/tools/pce2png/pngwrite/pngwrite.lib
src/tools/pcxtool/pcxtool
src/tools/pcxtool/pcxtool.exe
src/tools/sym2inc/sym2inc
src/tools/sym2inc/sym2inc.exe
src/tools/wav2vox/wav2vox
src/tools/wav2vox/wav2vox.exe
tgemu/tgemu*
