*.o
*.pce
*.sym
*.s
version.h
bin
tgemu/tgemu*
src/huc/huc
src/huc/huc.exe
src/isolink/huc.exe
src/mkit/as/pceas.exe
src/mkit/as/fujias.exe
src/mkit/as/nesasm.exe
src/tools/mml/mml.exe
src/tools/mod2mml/mod2mml.exe
src/tools/pcxtool/pcxtool.exe
src/version.h
version.h
