.DS_Store
*.iso
*.ovl
*.o
*.pce
*.sgx
*.sym
*.s
/huc/
/huc/tgemu/tgemu*
/huc/src/huc/huc
/huc/src/huc/huc.exe
/huc/src/isolink/huc.exe
/huc/src/mkit/as/pceas.exe
/huc/src/mkit/as/fujias.exe
/huc/src/mkit/as/nesasm.exe
/huc/src/tools/mml/mml.exe
/huc/src/tools/mod2mml/mod2mml.exe
/huc/src/tools/pcxtool/pcxtool.exe
*.lst

bin
examples/acd/ac_test.iso
examples/sgx/sgx_test.iso
examples/sgx/sgx_test.sgx
examples/shmup/bgm.asm
examples/shmup/mod2mml.log
examples/shmup/shmup.iso

src/huc/huc
src/huc/huc.exe
src/isolink/isolink
src/isolink/isolink.exe
src/mkit/as/fujias
src/mkit/as/fujias.exe
src/mkit/as/nesasm
src/mkit/as/nesasm.exe
src/mkit/as/pceas
src/mkit/as/pceas.exe
src/mkit/as/pngread/pngread.a
src/tools/mml/mml
src/tools/mml/mml.exe
src/tools/mod2mml/mod2mml
src/tools/mod2mml/mod2mml.exe
src/tools/pcxtool/pcxtool
src/tools/pcxtool/pcxtool.exe
src/tools/sym2inc/sym2inc
src/tools/sym2inc/sym2inc.exe
src/tools/wav2vox/wav2vox
src/tools/wav2vox/wav2vox.exe
src/tools/pce2png/pce2png
src/tools/pce2png/pce2png.exe
src/tools/pce2png/pngwrite/pngwrite.a
src/tools/pce2png/pngwrite/pngwrite.lib
tgemu/tgemu*
src/version.h
